package ${basePackage}.module.${table.moduleName}.dal.mysql.${table.businessName};

import org.apache.ibatis.annotations.Mapper;

/**
 * ${table.classComment} Mapper
 *
 * @author ${table.author}
 */
@Mapper
public interface ${table.className}Mapper extends ${table.className}AutoMapper {

}