package ${basePackage}.module.${table.moduleName}.service.${table.businessName};

/**
 * ${table.classComment} Service 接口
 *
 * @author ${table.author}
 */
public interface ${table.className}Service extends ${table.className}AutoService{

}